<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="utilizatoriSection" type="System.Configuration.NameValueSectionHandler"/>
		<section name="testBenchSection" type="System.Configuration.NameValueSectionHandler"/>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Proiect_practicaDI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="NumeFisier" value="Date.csv"/>
		<add key="NumeFisierTB" value="TB.csv"/>
	</appSettings>
	<utilizatoriSection>
		<add key="Ion Popescu" value="0040737774955;00-11-22-33-44-55"/>
		<add key="Popescu" value="0040839476736;11-22-33-44-55-66"/>
		<add key="Ionescu Irinel" value="0040748448488;22-11-22-33-44-55"/>
		<add key="Iona" value="0040859767578;11-23-44-55-66-77"/>
		<add key="Florentina" value="0040788888888;11-00-11-00-22-33"/>
		<add key="Dica Ionela" value="0040735459333;98-EE-CB-F3-3A-51"/>
	</utilizatoriSection>
	<testBenchSection>
		<add key="TB1" value="00-22-33-44-55-66"/>
		<add key="TB2" value="11-22-33-44-55-66"/>
		<add key="TB3" value="00-22-33-44-55-66"/>
	</testBenchSection>
</configuration>